[Unit]
Description=Refresh beta credentials every ten minutes

[Timer]
OnBootSec=30s
OnUnitActiveSec=10min
Unit=sapienworx-beta-credentials.service

[Install]
WantedBy=timers.target
